html {
  box-sizing: border-box;
  font-family: 'Quantico', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.logo {
  max-width: 4em;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.1rem;
  font-weight: bold;
}


header a {
  text-decoration: none;
  color: black;
}

.cart {
  width: 25px;
  height: auto;
  position: absolute;
  left: 85%;
  top: 2.75%;
}

.search {
  width: 25px;
  height: auto;
  position: absolute;
  left: 88%;
  top: 2.75%;
}

.banner {
  background-color: #fff;
  background-image: url(../www/images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
}

.banner h1 {
  text-align: center;
  font-size: 3em;
  font-weight: normal;
  padding: 13rem;
  margin: 0;
  color: #fff;
}

.button {
  background-color: red;
  color: #fff;
  padding: .5em 1.5em .5em 1.5em;
  position: absolute;
  left: 46.5%;
  top: 45%;
}

section a {
text-decoration: none;
}

.featured-item {
  display: flex;
  justify-content: space-around;
}

.featured-item img {
  margin: 5em;
  padding-bottom: 1em;
  max-width: 30em;
}

.feature-button {
  background-color: red;
  color: #fff;
  padding: .5em 1em .5em 1em;
  text-align: center;
}

section div {
  margin: 5em;
  margin-left: -65em;
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: black;
  padding: .5em;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a img {
  width: 50px;
  height: auto;
  margin: 0;
}

.contact-button {
  background-color: red;
  color: #fff;
  padding: .5em 1em;

}

.facebook {
  position: absolute;
  left: 81%;
}

.instagram {
  position: absolute;
  left: 85%;
}
