html {
  box-sizing: border-box;
  font-family: Quantico, sans-serif;
}

@font-face {
font-display: swap;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
  background-color: #fff;
  color: red;
  padding: .75em .5em;
  text-decoration: none;
}

.skip-links a:focus {
  top: 0;
}

.logo {
  max-width: 4em;
}

header ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.1rem;
  font-weight: bold;
}

header a {
  text-decoration: none;
  color: black;
}

header a:hover {
  color: red;
}

.cart {
  width: 25px;
  height: auto;
}

.search {
  width: 25px;
}

.banner {
  background-color: black;
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
}

.banner h1 {
  text-align: center;
  font-size: 3em;
  font-weight: normal;
  padding: 13rem;
  margin: 0;
  color: #fff;
}

.button {
  background-color: red;
  color: #fff;
  text-decoration: none;
  padding: .5em 1.5em;
  position: absolute;
  left: 46.5%;
  top: 45%;
}

section ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-around;
  margin: 10em;
}

.feature-info p {
  margin-bottom: 2.1em;
}

.feature-button {
  background-color: red;
  color: #fff;
  padding: .5em 1.5em;
  text-align: center;
  text-decoration: none;
}

footer ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  padding: .5em;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a img {
  width: 50px;
  height: auto;
}

.contact-button {
  background-color: red;
  color: #fff;
  padding: .5em 1.5em;
}
