html {
  box-sizing: border-box;
  font-family: 'Quantico', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.logo {
  max-width: 4em;
}

header ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.1rem;
  font-weight: bold;
}


header a {
  text-decoration: none;
  color: black;
}

.cart {
  width: 25px;
  height: auto;
}

.search {
  width: 25px;
}

h1 {
  margin-left: 5em;
}

.products {
  list-style-type: none;
  padding: 0;
  margin-left: 10em;
  margin-right: 10em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.wild {
  width: 651px;
  height: 576px;
  background-image: url(../www/images/wild.jpg);
}

.wild:hover {
  background-image: url(../www/images/wild-back.jpg);
  transition: all .5s;
}

footer ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  padding: .5em;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a img {
  width: 50px;
  height: auto;
  margin: 0;
}

.contact-button {
  background-color: red;
  color: #fff;
  padding: .5em 1em;
}
