html {
  box-sizing: border-box;
  font-family: 'Quantico', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.logo {
  max-width: 4em;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.1rem;
  font-weight: bold;
}


header a {
  text-decoration: none;
  color: black;
}

.cart {
  width: 25px;
  height: auto;
}

.search {
  width: 25px;
  height: auto;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  padding: .5em;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a img {
  width: 50px;
  height: auto;
  margin: 0;
}

.contact-button {
  background-color: red;
  color: #fff;
  padding: .5em 1em;
  margin: 0;
}

.products {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
